<% tab "juridical_people" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New juridical_person</h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
<h4><span class="label label-default"><%= link_to 'Back', juridical_people_path%></span>
</h4>
